<h1>Github Trending<button style="margin-left:800px;" class="button button1" (click)="logoutAction()">Logout</button></h1>
<div class="topnav" id="myTopnav">

	<a href="/portal/menu" class="active">Home</a>
	
	<a href="/portal/top-user-by-country">Top user by country</a>
	<a href="/portal/top-repositories">Top repositories</a>
	<a href="/portal/data-visualize"> Data visualization</a>

	<a href="javascript:void(0);" class="icon" onclick="myFunction()">
		<i class="fa fa-bars"></i>
	</a>
</div>
 <tr>
    <td> <input type="text" placeholder="Search" [(ngModel)]="name"></td>
    <td><button (click)="searchData()">Search</button></td>
  </tr>
  <div style="background-color:gray">
 
	<a href="/portal/menu" style="margin-right: 300px;font-size: 30px;">Users</a>
	<a style="font-size: 30px;" href="/portal/repositories">Repositories</a>
	
</div>
<table>
	
  
  <tr >
    <th>Login</th>
    <th>Html url</th>
    <!-- <th>Node id</th> -->
    <th>Score</th>
    <th>Type</th>
    <th>Repository url</th>
  </tr>
  <tr *ngFor="let item of dataFromApi">
    <td>{{item.login}}</td>
    <td>{{item.html_url}}</td>
    <!-- <td>{{item.node_id}}</td> -->
    <td>{{item.score}}</td>
    <td>{{item.type}}</td>
    <td>{{item.repos_url}}</td>
  </tr>
  
</table>
<div class="navbar" id="myNavbar">
	<p align="center"><b>Name:</b> Zaba Mubassarah</p>
	<p align="center"><b>Email:</b> shanita.zeba@gmail.com</p>
</div>